* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #a02468;
}

#foto1 {
    width: 100%;
      height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    float: right;
    background-color: violet;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#foto1{
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    

}
tr:nth-child(even){
    background-color: blue;
    }
    tr:nth-child(odd){
    background-color: green;
    }
    .box{
        
        border: solid 10px black;
        padding: 30px;
        margin: 50px;
    }

li {
    float: left;
}

li a {
    display: block;
    color: #9e3f5f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: silver;
    height: 22px;
    color: goldenrod;
}

table {
    background-color: rgb(135, 39, 69);
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
    font size: 30px;

}

th {
    background-color: red;
    color: white;
}

.footer {
    background-color: #5ADBFF;
    padding: 0.5em;
    text-align: right;
}
#btn{
background-color: red;
color: white;
font-size: 20px;
padding: 10px;
margin: 10px








}
#btn:hover{
    background-color: yellow;
    color: cyan;
}
button {
    background-color: blue;
    color: yellow;
    padding: 20px;
    margin: 30px;
    font size: 20px;


}